.logout-btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 8px;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.mr {
  margin-right: 8px;
}
