<div class="form-container">
  <form nz-form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <nz-form-item>
      <nz-form-label nzFor="email">Email</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="email" id="email" placeholder="Votre email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="password">Mot de passe</nz-form-label>
      <nz-form-control>
        <input nz-input type="password" formControlName="password" id="password" placeholder="Votre mot de passe" />
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary" type="submit">Se connecter</button>
  </form>
</div>
