<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" id="email" placeholder="Votre email">
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email requis</mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Email invalide</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password" id="password" placeholder="Votre mot de passe">
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Mot de passe requis</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      <mat-icon class="mr">login</mat-icon>
      Se connecter
    </button>
  </form>
  <div class="link-container">
    <p>Pas encore de compte ? <a routerLink="../register">Inscrivez-vous ici</a></p>
  </div>
</div>
