<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Votre email" required email>
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email requis</mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Email invalide</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Votre mot de passe" required>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Mot de passe requis</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      <mat-icon>login</mat-icon>
      <span>Se connecter</span>
    </button>
  </form>
  <div class="link-container">
    <p>Pas encore de compte ? <a routerLink="../register">Inscrivez-vous ici</a></p>
  </div>
</div>
