.missions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.missions-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.mission-card {
  width: 300px;
  cursor: pointer;
}
