.missions-container {
  display: flex;
  gap: 16px;
  padding: 16px;
}

.filter-column {
  width: 250px;
}

.missions-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.missions-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
}

.mission-card {
  width: 300px;
  cursor: pointer;
}
